html {
    background-color: #fefefe;
}
body {
    font-family: Open Sans,Arial;
    color: #454545;
    font-size: 16px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
}
body {
    font-family: Open Sans,Arial;
    color: #454545;
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}
body {
    font-family: Open Sans,Arial;
    color: #454545;
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}
span.wr {
    color: #c0392b;
    font-weight: 600;
    text-decoration: underline;
}
span.mfw {
    color: #730000;
}
body {
    font-family: Open Sans,Arial;
    color: #454545;
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}
a {
    color: #07a;
}

élément {
    color: rgb(112, 235, 71);
}
























